<link rel="stylesheet" href="/style.css">
<nav>
    <h2>logo</h2>
    <div>
        <p><a href="/"> home</a></p>
        <p><a href="/ourservices"> our services</a></p>
        <p><a href="/contactus"> contact us</a></p>



    </div>
</nav>